###########################################################
#                    BungeePteroPower                     #
#                       by Kamesuta                       #
###########################################################

# Language
# Supported languages: en, ja, fr
# You can add your own language file in the plugins/BungeePteroPower directory.
language: en

# When no one enters the server after starting the server,
# the server will be stopped after this time has elapsed according to the timeout setting.
startTimeout: 120

# Power Controller Type
# Supported types: pterodactyl
# You can add your own power controller using API.
powerControllerType: pterodactyl

# Pterodactyl configuration
pterodactyl:
  # The URL of your pterodactyl panel
  # If you use Cloudflare Tunnel, you need to allow the ip in the bypass setting.
  url: "https://panel.example.com"
  # The client api key of your pterodactyl panel. It starts with "ptlc_".
  # You can find the client api key in the "API Credentials" tab of the "Account" page.
  apikey: "ptlc_000000000000000000000000000000000000000000"

# Per server configuration
servers:
  pvp:
    # Pterodactyl server ID
    # You can find the Pterodactyl server ID in the URL of the server page.
    # For example, if the URL is https://panel.example.com/server/1234abcd, the server ID is 1234abcd.
    id: 1234abcd
    # The time in seconds to stop the server after the last player leaves.
    # If you don't want to stop the server automatically, set it to -1.
    # If you set it to 0, the server will be stopped immediately after the last player leaves.
    timeout: 30

  hub:
    id: abcd1234
    timeout: -1
